In [3]:
import pandas as pd

df = pd.Series([1, 2, 3, 4, 5])
df

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [25]:
df = pd.Series(range(5,10) , index=['a','b','c','d','e'])
df

a    5
b    6
c    7
d    8
e    9
dtype: int64

In [26]:
df.name

In [7]:
df = pd.Series(40, index=['a','b','c','d','e'])
df

a    40
b    40
c    40
d    40
e    40
dtype: int64

In [8]:
df['e'] = 16

In [9]:
df

a    40
b    40
c    40
d    40
e    16
dtype: int64

In [10]:
df['e']  = "Aqsa"

In [11]:
df

a      40
b      40
c      40
d      40
e    Aqsa
dtype: object

In [12]:
"g" in df

False

In [13]:
"e" in df

True

In [16]:
df["e"] = 32
df * df

a    1600
b    1600
c    1600
d    1600
e    1024
dtype: object

In [17]:
df % 2

a    0
b    0
c    0
d    0
e    0
dtype: object

In [18]:
df % 3

a    1
b    1
c    1
d    1
e    2
dtype: object

In [20]:
df - 21

a    19
b    19
c    19
d    19
e    11
dtype: object

In [27]:
df.rename("Data", inplace=True)

a    5
b    6
c    7
d    8
e    9
Name: Data, dtype: int64

In [22]:
df

a    40
b    40
c    40
d    40
e    32
Name: Data, dtype: object

In [23]:
df = pd.Series(range(5,10) , index=['a','b','c','d','e'] , name="Data Integar")
df

a    5
b    6
c    7
d    8
e    9
Name: Data Integar, dtype: int64

In [24]:
df.name

'Data Integar'